<!-- <strong>[{{ content.moderate_state }}]</strong> -->
{% if generic_content.content.is_pending %}
  <a class="pure-button pure-button-xsmall" href="{% url 'project.content.publish' generic_content.pk %}">
    <i class="fa fa-check"></i>
    publish
  </a>
{% endif %}
<a class="pure-button pure-button-xsmall" href="{% url 'project.content.update' generic_content.pk %}">
  <i class="fa fa-edit"></i>
  edit
</a>
<a class="pure-button pure-button-xsmall" href="{% url 'project.content.remove' generic_content.pk %}">
  <i class="fa fa-times"></i>
  remove
</a>
</p>

